body {
    font-family: sans-serif;
    background-color: #0a135e;
    color: aliceblue;
}

#container {
    text-align: center;
}

#canvas {
    border: solid thick aliceblue;
}

#success {
    display: none;
    font-size: xxx-large;
    margin: 1em auto;
    background: aliceblue;
    color: blue;
    width: 25%;
    overflow: hidden;
    border-color: red;
    border-width: 0.125em;
    border-style: solid;
    border-radius: 0.1em;
}

#success::before {
    content: "🎉";
}

#success::after {
    content: "🎉";
}