body {
    font-family: sans-serif;
    background-color: #0a135e;
    color: aliceblue;
}

#container {
    text-align: center;
}

#canvas {
    border: solid thick aliceblue;
}

#success {
    display: none;
    font-size: xxx-large;
    margin: 1em auto;
    width: 8.5em;
    height: 1.5em;
    background: aliceblue;
    color: blue;
    overflow: hidden;
    border-color: red;
    border-width: 0.125em;
    border-style: solid;
    border-radius: 0.1em;
}

@keyframes show {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 8.5em;
        opacity: 1;
    }
}

#success.success {
    display: block;
    animation-name: show;
    animation-timing-function: ease-in;
    animation-duration: .25s;
}
